
@import url(https://fonts.googleapis.com/css?family=Poor+Story&amp;subset=korean);


html {
  background-color: gray;
  background:  url(https://thumbs.gfycat.com/VelvetyVibrantEland-size_restricted.gif) no-repeat center center fixed;
  background-size:cover;
box-shadow : rgba(0,0,0,0.2) 0 0 0 9999px; /*명도 어둡게*/

}
h1{
  
  font-size: 3em;
  margin: .2em .5em;
  color: rgba(0,0,0, 0.3);
  font-family: "Poor Story", sans-serif;
}
body {

 font-family: "Annie Use Your Telescope",sans-serif;
  background:  url(https://i.gifer.com/Py0.gif
  ) no-repeat center center fixed;
  background-size:cover;
font-family: "Poor Story", sans-serif;
}
/*
포뇨
https://i.gifer.com/Py0.gif
*/
